---
import CaseStudyPreview from "../components/CaseStudyPreview.astro";
import Layout from "../layouts/Layout.astro";
import Mail from "lucide-static/icons/mail.svg";
import HeaderImage from "../assets/header.jpg";
import Headshot from "../assets/headshot.jpg";
import { Image } from "astro:assets";
---

<Layout>
  <header class="relative px-4">
    <Image
      src={HeaderImage}
      alt="Extra Bumpy"
      class="absolute top-0 left-0 w-full h-full object-cover -z-10 opacity-50 blur-md"
    />
    <div class="pt-20 md:pt-40 pb-32 md:pb-52 z-10">
      <h1 class="text-3xl md:text-5xl font-bold text-center">
        We deliver top Roblox games
      </h1>
    </div>
  </header>

  <section id="about" class="bg-white">
    <div class="container mx-auto py-12 md:py-24 max-w-xl px-4">
      <h2 class="text-3xl md:text-4xl font-bold text-center mb-6 text-black">
        About Us
      </h2>
      <p class="text-gray-500 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        sit nulla unde repellendus harum ipsa praesentium laboriosam, dolorem
        laudantium magnam, enim dolore amet saepe! Veritatis quis ipsum nesciunt
        possimus illo.
      </p>
      <p class="text-gray-500 mb-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        sit nulla unde repellendus harum ipsa praesentium laboriosam, dolorem
        laudantium magnam, enim dolore amet saepe! Veritatis quis ipsum nesciunt
        possimus illo.
      </p>

      <Image
        src={Headshot}
        alt="Oscar W. Halland"
        class="w-24 h-24 rounded-full object-cover mx-auto mb-4"
      />

      <p class="text-gray-400 text-center font-medium">
        - Oscar W. Halland, Founder
      </p>
    </div>
  </section>

  <section id="case-studies" class="py-12 md:py-24 bg-gray-100 text-black px-4">
    <div class="container mx-auto">
      <h2 class="text-4xl font-bold text-center mb-6">Case Studies</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <CaseStudyPreview
          title="TBA"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
          impressions={200100}
          rating={98}
          favorites={2000}
          image="https://placehold.co/600x400"
        />
        <CaseStudyPreview
          title="TBA"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
          impressions={200100}
          rating={98}
          favorites={2000}
          image="https://placehold.co/600x400"
        />
        <CaseStudyPreview
          title="TBA"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
          impressions={200100}
          rating={98}
          favorites={2000}
          image="https://placehold.co/600x400"
        />
      </div>
    </div>
  </section>

  <footer class="pt-16 md:pt-32 pb-8 md:pb-16 px-4">
    <div
      class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-0"
    >
      <div class="text-center md:text-left">
        <h1 class="text-4xl md:text-5xl font-serif mb-3">Extra Bumpy</h1>
        <p class="text-gray-200 text-lg">We deliver top Roblox games</p>
      </div>
      <div class="flex items-center justify-center md:justify-end">
        <a
          id="contact"
          href="mailto:hello@extrabumpy.com"
          class="bg-white text-black px-4 py-3 rounded-full w-full max-w-xs flex gap-2 leading-0 items-center justify-center text-xl font-medium hover:bg-gray-100 hover:text-2xl transition-all"
          ><Mail class="w-5 h-5" />Send us an email</a
        >
      </div>

      <p
        class="col-span-1 md:col-span-2 mt-16 md:mt-44 text-gray-100 text-sm text-center"
      >
        A subsidiary of Halland Technologies AS (VAT NO 929468724 MVA) &copy;
        2025 All Rights Reserved
      </p>
    </div>
  </footer>
</Layout>
